<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col items-start justify-center"
>
  <label for="username">Username:</label>
  <input type="text" id="username" formControlName="username" />
  <label for="email">Email:</label>
  <input type="text" id="email" formControlName="email" />
  <label for="password">Password:</label>
  <input type="text" id="user" formControlName="password" />
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>
