<div class="flex flex-col gap-2 w-full border border-black rounded-lg px-3 p-2">
  <div class="flex justify-between gap-4">
    <div class="flex flex-col gap-[1px]">
      <p class="font-bold">{{ data.company }}, {{ data.location }} -</p>
      <p class="italic">{{ data.work_title }}</p>
    </div>
    <p>
      {{ data.start_month }} {{ data.start_year }} - {{ data.end_month }}
      {{ data.end_year }}
    </p>
  </div>
  <p class="text-gray-500 text-sm">{{ data.summary }}</p>
  <p class="text-gray-500 text-sm">To write in array form</p>
</div>
