<div class="h-screen w-full flex justify-center">
  <div class="flex flex-col items-center justify-center w-2/5 sm:w-3/5 gap-4">
    <div
      class="w-full flex flex-col bg-slate-50 py-3 items-center justify-center"
    >
      <h1 class="text-4xl font-bold text-center text-sky-700 py-3">
        Register an account
      </h1>
      <form
        class="flex flex-col items-start justify-center gap-3 w-3/5 p-4"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="w-full">
          <input
            class="px-2 py-1 outline-none w-full text-lg"
            type="username"
            name="username"
            formControlName="username"
            placeholder="Username"
          />
          <hr
            class="w-full bg-gradient-to-r from-emerald-500 to-sky-500 h-[2px]"
          />
        </div>
        <div class="w-full">
          <input
            class="px-2 py-1 outline-none w-full text-lg"
            type="email"
            name="email"
            formControlName="email"
            placeholder="Email"
          />
          <hr
            class="w-full bg-gradient-to-r from-emerald-500 to-sky-500 h-[2px]"
          />
        </div>

        <div class="w-full">
          <input
            class="px-2 py-1 outline-none w-full text-lg"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
          <hr
            class="w-full bg-gradient-to-r from-emerald-500 to-sky-500 h-[2px]"
          />
        </div>
        <div class="w-full flex flex-col items-center justify-center">
          <button
            class="bg-gradient-to-r from-emerald-500 to-sky-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-l-full rounded-r-full w-2/5 disabled:bg-slate-400 hover:opacity-75"
          >
            Register
          </button>
          <p class="text-gray-600 pt-5">
            Already have an account?
            <a class="text-sky-700 hover:text-red-700" [routerLink]="['/login']"
              >Sign in</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
